/** @format */
// Hero section

$hero-background-color-start: #081726;
$hero-background-color-1: #0c2340;
$hero-background-color-2: #191929;
$hero-background-color-3: #331a20;
$hero-background-color-4: #652325;
$hero-background-color-end: rgb(148, 24, 7);
