/** @format */
// Hero section

$hero-background-color-start: #081726;
$hero-background-color-1: #0c2340;
$hero-background-color-2: #191929;
$hero-background-color-3: #331a20;
$hero-background-color-4: #652325;
$hero-background-color-end: rgb(148, 24, 7);

$hero-height: 100vh;
$hero-container-gap: 2rem;

$hero-text-color: white;

$hero-title-font-size: 60px;
$hero-title-margin-bottom: 10px;
$hero-title-font-weight: 900;
$hero-title-gradient-start: #ff7f00;
$hero-title-gradient-end: #0000ff;

$hero-paragraph-font-size: 20px;
$hero-paragraph-margin-bottom: 2rem;
$hero-paragraph-font-weight: 400;

$hero-font-family: Arial, Helvetica, sans-serif;

$hero-button-background: transparent;
$hero-button-text-color: white;
$hero-button-border: none;
$hero-button-width: 200px;
$hero-button-font-size: 18px;
$hero-button-gap: 10px;

$hero-image-width: 300px;
$hero-image-border-radius: 50%;

// About section
// Fonts
$about-font-family: "poppins";
$about-font-stack: "poppins", sans-serif;
$about-font-semibold: "/public/fonts/Poppins/Poppins-SemiBold.ttf";
$about-font-light: "/public/fonts/Poppins/Poppins-Light.ttf";

// Colors
$about-background-color: #0b0f19; // Bleu nuit profond
$about-text-color: white;

// Sizes
$about-height: 100vh;
$about-container-padding: 5% 10%;
$about-container-gap: 2rem;
$about-title-font-size: 2.5rem;
$about-title-margin-bottom: 1.5rem;
$about-paragraph-font-size: 1.1rem;
$about-paragraph-line-height: 1.8;
$about-paragraph-max-width: 600px;
$about-img-max-width: 500px;
