/** @format */
@use "variables" as *;

#about {
  overflow: hidden;
  background-color: $about-background-color;
  color: $about-text-color;
  font-family: $about-font-stack;
  padding: 0 20px;

  .about-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $about-container-gap;
  }

  .text {
    flex: 1;

    h1 {
      font-size: $about-title-font-size;
      margin-bottom: $about-title-margin-bottom;
    }

    p {
      font-size: $about-paragraph-font-size;
      line-height: $about-paragraph-line-height;
      max-width: $about-paragraph-max-width;
    }
  }

  .illustration {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    img {
      width: 100%;
      max-width: $about-img-max-width;
      height: auto;
    }
  }

  // ======== Responsive ========
  @media screen and (max-width: 768px) {
    .about-container {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }

    .text {
      h1 {
        font-size: 1.8rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .illustration {
      display: none;
    }
  }
}
