/** @format */
@use "variables" as *;

#hero {
  background: linear-gradient(
    35deg,
    $hero-background-color-start 0%,
    $hero-background-color-1 5%,
    $hero-background-color-2 50%,
    $hero-background-color-3 75%,
    $hero-background-color-end 100%
  );

  height: $hero-height;

  #hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    gap: $hero-container-gap;
  }

  .presentation {
    color: $hero-text-color;
    display: flex;
    flex-direction: column;
    text-align: start;

    h1 {
      font-size: $hero-title-font-size;
      margin-bottom: $hero-title-margin-bottom;
      font-weight: $hero-title-font-weight;
      font-family: $hero-font-family;

      background: linear-gradient(
        to right,
        $hero-title-gradient-start,
        $hero-title-gradient-end
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }

    p {
      font-size: $hero-paragraph-font-size;
      margin-bottom: $hero-paragraph-margin-bottom;
      font-weight: $hero-paragraph-font-weight;
      font-family: $hero-font-family;
    }

    button {
      background-color: $hero-button-background;
      color: $hero-button-text-color;
      border: $hero-button-border;
      width: $hero-button-width;
      font-size: $hero-button-font-size;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: $hero-button-gap;
    }
  }

  img {
    width: $hero-image-width;
    border-radius: $hero-image-border-radius;
  }
}
